---
import HerderLink from "./herderLink.astro";
import SliderTheme from "./sliderTheme.astro";
import "../styles/styles.css";
---
<style>
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    background: var(--button-gradient)  ;
    border-bottom: var(--backgrown-2nd) 1px solid;
    box-shadow: var(--shadow);
  }

  nav.shrink {
    transform: translateY(-30%);
    opacity: 0.5;
    background: var(--backgrown-2nd);
  }

  nav .navbar-brand,
  nav .nav-link {
    transition: font-size 0.3s ease;
    color: var(--text);
  }
  nav.shrink .nav-link {
    font-size: 0.7em;
  }

  nav.shrink #title {
    font-size: 0.7em;
    margin-top: 20px;
  }
  nav.shrink #blog-link {
    display: none;
  }
  nav .nav-link:hover {
    color: #ff6347;
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .navbar-toggler {
    border-color: var(--text);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .offcanvas {
    background-color: var(--backgrown-2nd);
    color: var(--text);
  }
  .offcanvas .nav-link {
    color: var(--text);
  }
  .offcanvas .nav-link:hover {
    color: #ff6347;
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent" aria-controls="staticBackdrop">
      <span class="navbar-toggler-icon"></span>
    </button>
    <HerderLink class="mx-3 navbar-brand fs-2" href="/"><h3 id="title">Andrea Villar</h3></HerderLink>
    <div class="offcanvas offcanvas-start" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item m-2">
            <HerderLink class="nav-link" href="/">Inicio</HerderLink>
        </li>
        <li class="nav-item m-2">
          <HerderLink class="nav-link" href="/#skills">Habilidades</HerderLink>
        </li>
        <li class="nav-item m-2">
          <HerderLink class="nav-link" href="/#projects">Proyectos</HerderLink>
        </li>
        <li class="nav-item m-2">
          <HerderLink class="nav-link" href="/#services">Servicios</HerderLink>
        </li>
        <li class="nav-item m-2">
          <HerderLink class="nav-link" href="/#contact">Contacto</HerderLink>
        </li>
        <li class="nav-item">
            <HerderLink class="nav-link" href="/galery-blog" id="blog-link">
            <button style="background: var(--button-gradient);
                color: var(--text); border-radius: 50px; padding: 8px 16px; border: none; box-shadow: var(--shadow);">Blog</button>
            </HerderLink>
        </li>
        <li class="nav-item m-2">
          <div class="nav-link">
            <SliderTheme />
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  @media (max-width: 992px) {
    nav .navbar-brand {
      text-align: center;
      font-size: 1.5em;
    }
    nav .navbar-nav{
      margin: 4em 0;
    }
    nav .nav-link {
      text-align: center;
      font-size: 1.2em;
      margin: 0.5em 7em;
  }
</style>

<script>
  window.addEventListener('scroll', function() {
    const navbar = document.getElementById('navbar');
    if (window.scrollY > 50 && window.innerWidth > 992) {
      navbar.classList.add('shrink');
    } else {
      navbar.classList.remove('shrink');
    }
  });
</script>