---
import HerderLink from "./herderLink.astro";
import '../styles/styles.css';
---
  <style>
    /* Reset Básico */
    body, html {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Sección de Proyectos */
    .projects-section {
      padding: 4rem 1rem;
      text-align: center;
    }

    .projects-section h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      font-weight: bold;
      text-shadow: var(--shadow);
    }

    .projects-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      padding: 0 2rem;
    }

    .project-card {
      background: var(--button-gradient);
      border-radius: 20px;
      box-shadow: var(--shadow), -3px -3px 6px rgba(255, 255, 255, 0.8);
      overflow: hidden;
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .project-card:hover {
      transform: translateY(-5px);
      box-shadow: var(--shadow), -3px -3px 12px rgba(255, 255, 255, 0.9);
    }

    .project-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .project-details {
      padding: 1rem;
      text-align: left;
    }

    .project-details h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .project-details p {
      font-size: 1rem;
      color: var(--text);
    }
  </style>
  <section class="projects-section" id="projects">
    <h2>Mis Proyectos</h2>
    <div class="projects-container">
      <div class="project-card">
        <img src="/img/ai-tools-progect.jpg" alt="Proyecto 1" class="project-image">
        <div class="project-details">
          <h3>AI Tols</h3>
          <p>Conjunto de herramientas de escritorio desarrolladas con Python de IA Generativa.</p>
        </div>
      </div>
      <div class="project-card">
        <img src="/img/construhack.png" alt="Proyecto 1" class="project-image">
        <div class="project-details">
          <h3>Construhack 2024</h3>
          <p>Prueba piloto del proyecto Construhack 2024, una aplicacion de inteligencia artificial para la clasificacion automatica de sobrantes de obras civiles, con el objetivo de promover un sistema de economia circular.</p>
        </div>
      </div>
      <div class="project-card">
        <img src="/img/Kinder-Dots.png" alt="Proyecto 1" class="project-image">
        <div class="project-details">
          <h3>Kinder.Dots</h3>
          <p>Configuración customizada de Arch Linux.</p>
        </div>
      </div>
    </div>
  </section>
    <button style="background: var(--button-gradient);
      color: var(--text); border-radius: 50px; padding: 8px 16px; border: none; box-shadow: var(--shadow); transition: transform 0.2s;">
      <HerderLink class="nav-link" href="/galery-progects" id="galery-progects-link">
        Galeria de Proyectos
      </HerderLink>
    </button>
    <style>
      button:hover {
      transform: scale(0.95);
      }
    </style>
