---
import "../styles/styles.css"
---
<style>
    /* Reset Básico */
    body, html {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Sección de Habilidades */
    .skills-section {
      padding: 4rem 1rem;
      text-align: center;
    }

    .skills-section h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      font-weight: bold;
      text-shadow: var(--shadow);
    }

    .skills-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
    }

    .skill-chip {
      background: var(--button-gradient);
      padding: 0.75rem 1.5rem;
      border-radius: 20px;
      font-size: 1rem;
      font-weight: bold;
      box-shadow: var(--shadow), -3px -3px 6px rgba(255, 255, 255, 0.8);
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .skill-chip:hover {
      transform: translateY(-5px);
      box-shadow: var(--shadow), -3px -3px 12px rgba(255, 255, 255, 0.9);
    }
    h2, a {
        color: var(--text);
    }
    a{
      text-decoration: none;
    }
  </style>

  <section class="skills-section" id="skills">
    <h2>Mis Habilidades</h2>
    <div class="skills-container">
        <div class="skill-chip"><a href="https://www.python.org/doc/" target="_blank">Python</a></div>
        <div class="skill-chip"><a href="https://www.kernel.org/doc/html/latest/" target="_blank">Linux</a></div>
        <div class="skill-chip"><a href="https://www.gnu.org/software/bash/manual/bash.html" target="_blank">Bash</a></div>
        <div class="skill-chip"><a href="https://reactjs.org/docs/getting-started.html" target="_blank">React</a></div>
        <div class="skill-chip"><a href="https://reactnative.dev/docs/getting-started" target="_blank">React Native</a></div>
        <div class="skill-chip"><a href="https://git-scm.com/doc" target="_blank">Git</a></div>
        <div class="skill-chip"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">HTML & CSS</a></div>
        <div class="skill-chip"><a href="https://restfulapi.net/" target="_blank">APIs REST</a></div>
        <div class="skill-chip"><a href="https://developer.android.com/kotlin" target="_blank">Android Kotlin</a></div>
        <div class="skill-chip"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a></div>
        <div class="skill-chip"><a href="https://docs.astro.build/" target="_blank">Astro</a></div>
        <div class="skill-chip"><a href="https://en.wikipedia.org/wiki/Automation" target="_blank">Automation</a></div>
        <div class="skill-chip"><a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank">Bootstrap</a></div>
        <div class="skill-chip"><a href="https://docs.docker.com/" target="_blank">Docker</a></div>
        <div class="skill-chip"><a href="https://firebase.google.com/docs" target="_blank">Firebase</a></div>
    </div>
  </section>

